body{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/039/272/868/large/lewis-lapper-sanik7.jpg?1625443651);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-x: center;
}

h1{
    text-align: center;
    color:gold;
    font-size: 72px;
}